{% extends 'base.html' %}
{% block content %}
{{ super() }}
<style>
    input,button{
      height: 66px;
      font-size: large;
    }
    input::-webkit-input-placeholder {
      font-size: 18px;
    }   
    body{
      background-color: #f9f9f9;
    }
    img{
      width: 13em;
    }
</style>
<section class="contact">
  <div class="container mt-2">
    <img src="../static/logo.png" class="center mt-3" alt="Логотип" srcset="" width="100px" width="50px">        
    {% for cat,msg in get_flashed_messages(True) %}
    <div class="{{cat}}" role="alert">
        {{msg}}
    </div>
    {% endfor %}
    <form action='/login' method='post' class="row g-3 mt-3 needs-validation col-md-7 col-lg-none center" novalidate>
      <div class="col-12">
        <label for="validationCustom01" class="form-label">Введите логин</label>
        <input type="text" class="form-control" name='username' id="validationCustom01" required>
      </div>
      <div class="col-12">
        <label for="exampleFormControlInput1" class="form-label">Пароль</label>
        <div class="input-group">
          <input type="password" name='psw' class="form-control" id="exampleFormControlInput1" aria-describedby="passwordHelpBlock" required>
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input name="remainme" type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-danger col-12" type="submit">Войти</button>
      </div>
      <div class="container col-12">
          <p class="text-center"><a class="text-muted" href="{{url_for('index')}}"><u>НА ГЛАВНУЮ</u></p>
      </div>
    </form>
  </div>
</section>
{% endblock %}